<h1>Passengers#index</h1>
<p>Find me in app/views/passengers/index.html.erb</p>

<table>
    <% @passengers.each do |passenger| %>
        <tr>
            <td><%= link_to passenger.name, passenger_path(passenger.id) %></td>
            <td><%= button_to "Edit", edit_passenger_path(passenger.id), method: :get %></td>
            <td><%= button_to "Delete", passenger_path(passenger.id), method: :delete, data: {confirm: "you sure you wanna delete?"} %></td>
        </tr>
    <% end %>
</table>